[Unit]
Description=My Celery Workers
After=uvicorn.service
StartLimitIntervalSec=0

[Service]
Type=simple
User=APPUSER
RestartSec=1
Restart=always
WorkingDirectory=/PATH/TO/APP
EnvironmentFile=/PATH/TO/APP/project.env
ExecStart=/bin/bash -c 'source .venv/bin/activate && python3 -m celery -A main.celery worker --loglevel=INFO'

[Install]
WantedBy=multi-user.target
